In [1]:
import numpy as np

# A vous de jouer

Nous considérons encore nos 10 clients sur lesquels nous avons cette fois 3 informations : 
- le revenu mensuel
- l'age du client
- le nombre d'enfants à charge

L'ensemble des ces informations dans la liste `tableau` suivante :

In [2]:
hugo = [1800, 21, 0]
richard = [1500, 54, 2]
emilie = [2200, 28, 3]
pierre = [3000, 37, 1]
paul = [2172, 37, 2]
deborah = [5000, 32, 0]
yohann = [1400, 23, 0]
anne = [1200, 25, 1]
thibault = [1100, 19, 0]
emmanuel = [1300, 31, 2]

tableau = [hugo, richard, emilie, pierre, paul, deborah,
           yohann, anne, thibault, emmanuel]

display(tableau)

[[1800, 21, 0],
 [1500, 54, 2],
 [2200, 28, 3],
 [3000, 37, 1],
 [2172, 37, 2],
 [5000, 32, 0],
 [1400, 23, 0],
 [1200, 25, 1],
 [1100, 19, 0],
 [1300, 31, 2]]

A partir de cette liste, créez un array que vous nommerez `data` :

In [ ]:
data =

Paul souhaiterait contracter un prêt immobilier :
- affichez les informations qui lui sont relatives. Pour rappel, Paul correspond à la 5ème ligne de nos données
- calculez ses mensualités maximales, en sachant que le taux d'endettement maximum est de 35% (il ne pourra donc pas rembourser par mois plus de 35% de son revenu).

Un nouveau client vient d'arriver, dont les informations sont les suivantes :

In [3]:
louise = [1900, 31, 1]

Ajoutez ces informations à la suite de votre array `data` :

In [ ]:
data =

Stockez enfin l'ensemble des informations de salaire de notre clientèle dans une variable `revenus` :

In [ ]:
revenus =